body {
    background-color: #323232;
}

#smallIconDiv {
    background-image: url('../images/stickify-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top:0;
    left:0;
    margin-left: 10px;
    display:none;
}

#formBigIconDiv {
    background-image: url('../images/stickify-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 90%; 
}

#formBigTitleDiv {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size:200%;
    color: #FFFFFF;
    top: -20px;
    position: relative;
    text-shadow: 0px 0px 20px #000000;
}

#tagLineDiv {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size:50%;
    color: #FFFFFF;
    position: relative;
    text-shadow: 0px 0px 20px #000000;
}

#imageBufferDiv {
    z-index: -1;
    /* image locations, loremflickr has SameOrigin problem
    background-image: url('https://unsplash.it/1920/1080?random');
    background-image: url('http://loremflickr.com/1920/1080/landscape,nature');
    */
    display: none;
    position:fixed; /* background fills entire page, stays in center when user scrolls */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

input {
	width:100%;
	font-family: 'Cantarell', sans-serif;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.errorSpan {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.centerHorizSpan {

}

#submit {
	width:100%;
}

.errorTitle {
    font-style: oblique;
    font-size: 200%;
}

#errorDiv {
    display: none;
}

.loadingDiv {
    width: 100%;
    opacity: 0;
}

#formLoadingDiv {
    display:none;
}

#contentLoadingDiv {
    margin-top:10px;
}

#contentProgressBar {
    
}

#noteDiv {
    font-family: 'Cantarell', sans-serif;
    background: linear-gradient(#f8f7b6 5%, #fdfdc5 10%, #f8f7b6);
	background-color: #fdfdc5;
	padding:30px 5px 30px 5px;
	margin: 5px;
	box-shadow:0px 5px 20px 0px #000000;
}
#formDiv {
	position: absolute;
	display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgb(0, 0, 0);
  background-color:rgba(0, 0, 0, 0.5);
  background: radial-gradient( 
                rgba(0,0,0,0.5) 0%, 
                rgba(0,0,0,0) 70%
    );
  
}

#userInfoForm {
    box-shadow:0px 0px 20px 0px #000000;
}

#aboutInfoDiv {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size:100%;
    color: #FFFFFF;
    position: relative;
    text-shadow: 0px 0px 20px #000000;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}